/* Universal Styles */

.container {
  margin: 32px 0 32px 24px;
  /* border: solid green; */
  display: inline-block;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
}

p {
  line-height: 1.2;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0 8px 0 24px;
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav ul,
footer ul{
  display: flex;
}

.nav ul li,
footer ul li{
  margin-right: 16px;
}

.colmar {
  font-weight: bold;
}

.academy {
  opacity: .5;
}

.ios-header {
  display: none;
}

/* Top Banner */

.banner,
.learning {
  background-color: #d8d8d8;
}

.banner img{
  width: 60%;
  height: auto;
  margin-right: 24px;
}

.learn {
  display: flex;
  align-items: center;
}

.everyday {
  color: #4a4a4a;
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.everyday span {
  background-color: #4a4a4a;
  color: #d8d8d8;
  text-align: center;
  padding: 8px 0;
}

.mobile-pic {
  display: none;
}

/* Information Section */

.info,
.thesis-section {
  display: flex;
}

.practice,
.video-column {
  width: 60%;
  overflow: hidden;
}

.practice img{
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.practicing h2, .practicing p {
  margin-bottom: 24px;
}

.campus,
.fisma {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.information,
.fisma-box {
  display: flex;
  align-items: center;
}

.information img,
.fisma img{
  width: 39%;
  height: auto;
  margin: 16px;
}

.extra p {
  padding: 8px 0;
}

.orientation img{
  margin-top: 0;
}

/* learning section */

.learning-container {
  padding: 32px 56px 16px 56px;
}

.learning-container h2{
  text-align: center;
  margin-bottom: 16px;
}

.learning-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field-box {
  /* width: 30%; */
  width: 350px;
  overflow: hidden;
  background-color: white;
  margin: 16px;
}

.field-box img {
  max-width: 100%;
  height: auto;
}

.field-box h3 {
  padding: 16px;
}

.field-box h4 {
  padding: 0 0 8px 16px;
}

.field-box p {
  padding: 0 0 24px 16px;
}

/* Thesis Section */

.thesis-header {
  text-align: center;
  padding-top: 32px;
}

video {
  max-width: 100%;
  height: auto;
}

.video-column h2 {
  margin: 24px 0 8px 0;
}

.fisma {
  justify-content: flex-start;
}

.design {
  background-color: #d8d8d8;
}

/* footer */

footer {
  border-top: 1px solid #d8d8d8;
  display: flex;
  padding: 16px 8px 50px 24px;
}

.copy {
  flex-grow: 1;
}

/* media queries */

@media only screen and (max-width: 800px){
  .information img {
    width: 60%;
    height: auto;
    margin: 16px;
  }

  .information {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 470px){

  .container {
    width: 100%;
    margin: 0 auto;
  }

  /* mobile header */

   header {
     display: none;
   }

   .ios-header {
     height: 64px;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   /* mobile banner */

   .banner img{
     width: 100%;
     height: auto;
     margin: 0;
   }

   .learn {
     flex-direction: column;
   }

   .everyday {
     width: 100%;
     height: 250px;
     justify-content: space-between;
     margin: 32px 0;
   }

   .everyday h1, h3, span {
     margin: 0 16px;
   }

   /* Mobile Info */

   .info {
     margin: 16px 16px 0 16px;
   }

   .practice {
     display: none;
   }

   .info-pic {
     display: none;
   }

   .mobile-pic {
     display: block;
   }

   .campus {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0;
   }

   .information {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }

   .information img {
     width: 100%;
     height: auto;
     margin: 0 0 16px 0;
   }

   .extra p{
     padding: 8px 16px;
   }

   .extra a{
     padding-left: 16px;
   }

   .info-box{
     margin-bottom: 32px;
   }

   /* Mobile Learning Section */

   .field-box img,
   .field-box h4,
   .field-box p {
     display: none;
   }

   .learning {
     background-color: white;
   }

   .learning-container {
     padding: 0;
   }

   .learning-flex-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }

   .field-box {
     width: 100%;
     /* overflow: hidden; */
     background-color: #d8d8d8;
     margin: 0 16px 8px 16px;
   }

   .field-box h3 {
     padding: 16px;
   }

   /* mobile thesis */

   .fisma {
     display: none;
   }

   .video-column h2,
   .video-column p {
     display: none;
   }

   .video-column {
     width: 100%;
     margin: 16px 0 24px 0;
   }

   /* mobile footer */

   .footer-links {
     display: none;
   }

   footer {
     border-top: none;
     padding: 16px;
   }
}
